<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1083477004072-bj4i6dmrks11q6sqg8gd0d8kpb9us6ic.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1083477004072-bj4i6dmrks11q6sqg8gd0d8kpb9us6ic</string>
	<key>API_KEY</key>
	<string>AIzaSyBwAOlzDV3XEt2OID_R53sd5n23egzFcH0</string>
	<key>GCM_SENDER_ID</key>
	<string>1083477004072</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Hjortshoj.TodoList</string>
	<key>PROJECT_ID</key>
	<string>todolist-b34c8</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist-b34c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1083477004072:ios:3217e1f95680c4d9f90a1d</string>
</dict>
</plist>